.site-page-header {
  border: 1px solid rgb(235, 237, 240);
  box-shadow: 0px 7px 7px -7px #5e5e5e;
  padding: 0;
  margin-top: 15px;
}
.input{
    margin-top: 15px;
   
}
.table{
    margin-top: 22px;
  
}
